Source: ocsstore
Section: web
Priority: optional
Maintainer: Akira Ohgaki <akiraohgaki@gmail.com>
Build-Depends: build-essential, qt5-default (>= 5.3.0), libqt5websockets5-dev (>= 5.3.0), git, nodejs, npm, devscripts, debhelper, fakeroot
Standards-Version: 3.9.4

Package: ocsstore
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libqt5gui5 (>= 5.3.0), libqt5websockets5 (>= 5.3.0), libqt5dbus5 (>= 5.3.0), libgconf-2-4, libxss1
Description: OCS-Store
 OCS-compatible Electron-based frontend.
